/* checkout.css */

.checkout{
    width: 80%;
    margin: 0 auto;
}
.orderSummary {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
}

.checkout-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.checkout-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.checkout-item h3 {
    flex: 1;
    margin-left: 20px;
    font-size: 1.5rem;
}

.checkout-item p {
    margin: 0 10px;
    font-size: 1.2rem;
}

.total-price {
    text-align: right;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
}

/* Form Section Styles */
.form-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.shipping-info, .payment-method {
    width: 48%;
}

.shipping-info input,
.payment-method select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
