:root {
  --primary-color: #f9f9f9;
  --button-color: #000;
}

header {
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.logo {
  flex-grow: 1;
  text-align: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-link{
  padding: 10px;
}



#home {
  font-weight: 600;
}

nav {
  display: flex;
  align-items: center;
}
.my-orders {
  margin: 10px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 60px;
}

.shopping-cart-icon{
  margin-right: 20px;
}


.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
  color: #000;
}

.dropdown{
  display: none;
}

.hamburger:focus {
  outline: none;
}


.login-register-btn {
  display: inline;
}


.login-icon {
  display: none;
}


/* 작은 화면에서 햄버거 버튼 보이기 */
@media (max-width: 900px) {


  .hamburger {
    display: block; 
  }

  .navigation-links{
    display: none;
  }

  .dropdown.active {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 60px; 
    left: 0; 
    width: 100%;
    background-color: var(--primary-color);
    z-index: 11;
    padding: 10px 0px;
  }

  .login-register-btn {
    display: none;
  }

  .login-icon {
    display: inline;
    cursor: pointer;
  }
}
