/* admin.css */

.admin-pannel {
    padding: 20px;
    background-color: #f4f4f9;
}

.register-product {
    margin-bottom: 20px;
    text-align: center;
}

.register-product button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-product button:hover {
    background-color: #45a049;
}

.admin-product-list {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of items */
    gap: 20px; /* Spacing between items */
    justify-content: space-between; /* Spread items across the available width */
    margin-top: 20px;
}

.admin-product-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.admin-product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    justify-content: space-between;
    width: calc(25% - 20px); /* 4 items per row */
    box-sizing: border-box; /* Include padding in width calculation */
}

.admin-product-item:hover {
    transform: scale(1.05);
}

.admin-product-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 5px;
}

.admin-product-item .admin-product-item-cover-header {
    margin-bottom: 15px;
}

.admin-product-item .product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.admin-product-item .product-price {
    font-size: 16px;
    color: #e74c3c;
    margin: 5px 0;
}

.admin-product-item p {
    margin: 5px 0;
    color: #555;
}

.admin-product-item #product-edit-btn,
.admin-product-item #product-delete-btn {
    margin-top: 10px;
    color: white;
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 40%;
}

.admin-product-item #product-edit-btn {

}

.admin-product-item #product-delete-btn {
    margin-left: 10px;
}

.admin-product-item button:hover {
    opacity: 0.8;
}

.admin-product-item #product-delete-btn:hover {
}

.admin-product-item #product-edit-btn:hover {
}
