.product-item {
    margin: 20px;
    width: 220px;
}

.product-name {
    color: black;
    font-size: 14px;
    line-height: 40px;
}
.product-price {
    font-size: 12px;
    color: grey;
    margin-top: 8px 0;
}

.product-item:hover{
    transform: scale(1.02);
    transition: 0.5s;
}


.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
